@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body{
    background-image: url("/images/ency.png");
    background-attachment: fixed;
}

div{
    text-align: center;
}

.macro-piece #title{
    background-color: transparent;
    position: relative;
    top: 1em;
    left: 50%;
    transform: translate(-50%);
    width:850px;
    padding: 10px;
    text-align: center;
}

#title h1{
    color: white;
    font-family: 'Irish Grover', cursive;
    font-weight: bolder;
    font-size: 30px;
}

.macro-piece .LR_condition{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 418px;
    height: 317px;
    background-image: linear-gradient(to bottom, #8290DA, #091345 100%);
    border-radius: 15px;
}

.LR_condition .login_condition p{
    font-size: 24px;
    color: white;
    font-family: 'Jaldi', sans-serif;
}

.LR_condition .register_condition p{
    font-size: 24px;
    color: white;
    font-family: 'Jaldi', sans-serif;
}