@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body{
    background-image: url("/images/ency.png");
    background-attachment: fixed;
}

div{
    text-align: center;
}

/*CSS of Clock*/

header .clock_display {
    position: relative;
    top: 1em;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 70px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
}

/*CSS of LR_condition*/

.macro-piece #title{
    background-color: transparent;
    position: relative;
    top: 1em;
    left: 50%;
    transform: translate(-50%);
    width:850px;
    padding: 10px;
    text-align: center;
}

#title h1{
    color: white;
    font-family: 'Irish Grover', cursive;
    font-weight: bolder;
    font-size: 30px;
}

.macro-piece .LR_condition{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 418px;
    height: 317px;
    background-image: linear-gradient(to bottom, #8290DA, #091345 100%);
    border-radius: 15px;
}

.LR_condition div #cond{
    color: white;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    font-size: 24px;
    padding: 10px;
}

.LR_condition div div a button{
    position: relative;
    border: none;
    border-radius: 10px;
    width: 227px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

a button p{
    color: #3D498A;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    font-size: 24px;
    margin: 0 auto;
}