@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body{
    background-image: url("/static/images/background/ency.png");
    background-attachment: fixed;
}

div{
    text-align: center;
}

/*CSS of Clock*/

.bottom .clock_display {
    position: relative;
    color:black;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
}

/*CSS of Title*/

.macro-piece #title{
    background-image: linear-gradient(to top, rgba(88, 128, 209, 0.704), rgba(88,129,209,1));
}

#title h1{
    width: 26em;
    height: 3em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
    font-family: 'Irish Grover', cursive;
    color: white;
}

/*CSS of encyemail_info*/

.encyemail_info{
    background-color: white;
    position: relative;
    bottom: 20px;
    height: 38em;
}

.encyemail_info .encyemail .top, .bottom{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.encyemail_info .encyemail .top .choose .btn{
    position: relative;
    top: 10px;
    border: none;
    border-radius: 15px;
    width: 95em;
    height: 4em;
    background-color: #5881D1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.encyemail_info .encyemail .top .choose .btn:hover{
    transform: scale(1.1);
}

.top, .bottom p{
    position: relative;
    color:black;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
}

.choose a .btn #editing{
    position: relative;
    color:white;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
    margin: 0 auto;
}

.encyemail_info .third_piece{
    position: relative;
    top: 7vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 35px;
}


.encyemail_info .third_piece .definition .box{
    position: relative;
    border: 2px solid #5881D1;
    border-radius: 15px;
    width: 227px;
    height: 282px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.encyemail_info .third_piece .definition .box:hover{
    transform: scale(1.1);
}