@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body{
    background-image: url("/static/images/background/ency.png");
    background-attachment: fixed;
}

div{
    text-align: center;
}

/*CSS of Clock*/

.bottom .clock_display {
    position: relative;
    color:black;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
}

/*CSS of Title*/

.macro-piece #title{
    background-image: linear-gradient(to top, rgba(88, 128, 209, 0.704), rgba(88,129,209,1));
}

#title h1{
    width: 26em;
    height: 3em;
    position: relative;
    left: 48%;
    transform: translate(-50%);
    font-weight: bold;
    font-family: 'Irish Grover', cursive;
    color: white;
}

/*CSS of Menu*/

.menu .menu_btn .btn{
    position: relative;
    float: left;
    top: 1em;
    left: 3em;
    border: none;
    width: auto;
    height: auto;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.menu .menu_btn .btn img{
    width: 50px;
    height: 50px;
}

.info_menu .menu-pane {
    background-color: #5881D1;
    z-index: 150;
    position: absolute;
    top: 0;
    transform: translateX(-105vw);
    width: 1536px;
    height: 760px;
    transition: 0.5s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
}

.open{ /*Unknown variable - linking*/
    top: 0;
    left: 30px;
    transform: translateX(-30px) !important;
    background-color: #5881D1;
    z-index: 99;
}

.menu-pane a {
    color: white;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}

.menu-pane nav {
    padding: 10%;
}

.lateral{
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.lateral .manual, .account{
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 35px;
    cursor: pointer;
}

.menu-pane .lateral .manual #img_manual{
    position: relative;
    width: 45px;
    height: 47.41px;
    bottom: 5px;
}

.menu-pane .lateral .manual .write_manual #name_manual{
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter; 
}

.menu-pane .lateral .manual{
    transition: 0.3s ease-in-out;
}

.menu-pane .lateral .manual:hover{
    transform: scale(1.1);
}

.menu-pane .lateral .account #img_account{
    position: relative;
    width: 45px;
    height: 47.41px;
    bottom: 5px;
}

.menu-pane .lateral .account .write_account #name_account{
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
}

.menu-pane .lateral .account{
    transition: 0.3s ease-in-out;
}

.menu-pane .lateral .account:hover{
    transform: scale(1.1);
}

/*CSS of encyemail_info*/

.encyemail_info{
    background-color: white;
    position: relative;
    bottom: 20px;
    height: 38em;
}

.encyemail_info .encyemail .top, .bottom{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.encyemail_info .encyemail .top .choose .btn{
    position: relative;
    top: 10px;
    border: none;
    border-radius: 15px;
    width: 95em;
    height: 4em;
    background-color: #5881D1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.encyemail_info .encyemail .top .choose .btn:hover{
    transform: scale(1.1);
}

.top, .bottom p{
    position: relative;
    color:black;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
}

.choose a .btn #editing{
    position: relative;
    color:white;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif; 
    font-weight: lighter;
    letter-spacing: 7px;
    margin: 0 auto;
}

.encyemail_info .third_piece{
    position: relative;
    top: 7vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 35px;
}


.encyemail_info .third_piece .definition .box{
    position: relative;
    border: 2px solid #5881D1;
    border-radius: 15px;
    width: 227px;
    height: 282px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.encyemail_info .third_piece .definition .box:hover{
    transform: scale(1.1);
}

.box img{
    position: relative;
    bottom: 3px;
    right: 8px;
    border-radius: 15px;
    width: 227px;
    height: 282px;
}

/*CSS of Come Back button*/

.info_menu .menu-pane .come_back #btn{
    position: relative;
    float: left;
    bottom: 23em;
    right: 30em;
    border: none;
    width: auto;
    height: auto;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.menu-pane .come_back #btn img{
    width: 45px;
    height: 45px;
}

img#cBack{
    width:45px;
    height:45px;
    transition: transform .5s;
    cursor: pointer;
    z-index: 1;
}

img:hover{
    transform: rotate(-360deg);
}

/*CSS of Definition's Title*/

.definitions{
    background-color: #5881D1;
    position: relative;
    left: 107em;
    bottom: 46em;
    height:auto;
}

