<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ENCY side</title>
</head>
<body>
    <div class="macro-piece">
        <header id="title">
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                    <h1>Caro admin sei nell'ENCY side. Gestisci questo side come meglio credi</h1>
                {% else %}
                    <h1>Caro {{current_user.username}} sei nell'ENCY side. Qui puoi consultare le definizioni, ovvero, voci informative o critiche</h1>
                {% endif %}
            {% endif %}
        </header>
        <div class="ency_info">
            <div class="ency">
                
            </div>
        </div>
    </div>
</body>
</html>