<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/d-encyemail_style.css">
    <title>Dashboard - ENCY side</title>
</head>
<body>
    <div class="macro-piece">
        <div class="menu">
          <div class="menu_btn" id="menu_btn">
            <button class="btn"><img src="/static/images/sym/menu_sym.png" alt="Menu"></button>
          </div>
        </div>
        <header id="title">
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                    <h1>Caro admin sei nell'ENCY side. Gestisci questo side come meglio credi</h1>
                {% else %}
                    <h1>Caro {{current_user.username}} sei nell'ENCY side. Qui puoi consultare le definizioni, ovvero, voci informative o critiche</h1>
                {% endif %}
            {% endif %}
        </header>
        <div class="encyemail_info">
            <div class="second_piece encyemail">
              {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                  <div class="top">
                    <div class="choose">
                        <a href="{{url_for('dency_edit')}}"><button class="btn"><p id="editing">Modifica il file JSON</p></button></a>
                    </div>
                  </div>
                {% else %}
                  <div class="bottom">
                    <p>Sono le</p>
                    <p class="clock_display" id="clock_container" onload="showTime()"></p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <div class="third_piece encyemail">
                <!--Definitions List-->
            </div>
        </div>
        <div class="info_menu">
          <div class="menu-pane" id="ee_menu">
            <nav>
              <div class="lateral">
                <div class="manual">
                  <img src="/static/images/sym/manual_sym.png" alt="manual" id="img_manual">
                  <div class="write_manual">
                    <a href="" id="name_manual">Manuale d'uso</a>
                  </div>
                </div>
                <div class="account">
                  <img src="/static/images/sym/user_sym.png" alt="account" id="img_account">
                <div class="write_account">
                  <a href="" id="name_account">Account</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
    </div>
    <script src="/static/js/clock.js"></script>
    <script src="/static/js/fetch_definitions.js"></script>
    <script src="/static/js/link_buttons.js"></script>
</body>
</html>