<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard_style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="macro-piece">
        <header id="title">
            {% if current_user.is_authenticated %}
            <h1>Benvenuto {{current_user.username}}, ora scegli se vorresti consultare le definizioni oppure inviare le email</h1>
            {% endif %}
        </header>
        <div class="dashboard_info">
            <div class="dash">
                <div id="ency_side"></div>
                <div id="logout"></div>
                <div id="email_side"></div>
            </div>
        </div>
    </div>
</body>
</html>