<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard_style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="macro-piece">
        <header id="title">
            {% if current_user.is_authenticated %}
            <h1>Benvenuto {{current_user.username}}, ora scegli se vorresti consultare le definizioni oppure inviare delle email</h1>
            {% endif %}
        </header>
        <div class="dashboard_info">
            <div class="dash">
                <div id="ency_side">
                    <a href="">
                    <button>
                       <div>
                          <img src="/static/images/sym/ency_sym.png" alt="Ency" id="ency">
                       </div>
                       <p id="f_title_btn">ENCY side</p>
                       <p id="s_title_btn">Consulta le definizioni ovvero voci informative o critiche</p>
                    </button>
                    </a>
                </div>
                <div id="logout">
                    <a href="{{url_for('logout')}}">
                    <button>
                       <div>
                          <img src="/static/images/sym/logout_sym.png" alt="Logout" id="logout">
                       </div>
                       <p id="s_title_btn">LOGOUT</p>
                    </button>
                    </a> 
                </div>
                <div id="email_side">
                    <a href="">
                    <button>
                       <div>
                          <img src="/static/images/sym/email_sym.png" alt="Email" id="email">
                       </div>
                       <p id="f_title_btn">EMAIL side</p>
                       <p id="s_title_btn">Inviare delle email agli utenti</p> 
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>