<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <title>Index</title>
</head>
<body>
    <div class="macro-piece">
        <header class="clock">
            <div class="clock_display" id="clock_container" onload="showTime()"></div>
        </header>
        <header id="title">
            <h1>Ciao, qui puoi consultare le definizioni, ovvero, voci informative o critiche. Inoltre, puoi inviare delle email agli utenti</h1>
        </header>
        <div class="LR_condition">
            <div class="login_condition">
                <p id="cond">Hai già un account?</p>
                <div class="login">
                    <a href=""><button class="login_btn"><p>ACCEDI</p></button></a>
                </div>
            </div>
            <div class="register_condition">
                <p id="cond">Oppure</p>
                <div class="register">
                    <a href=""><button class="register_btn"><p>REGISTRATI</p></button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/clock.js"></script>
</body>
</html>